body {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    padding-bottom: 30px;
}

header {
    background-color: lightgray;
    padding-left: 0.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-size: 40px;
}

footer {
    position: fixed;
    padding: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightgray;
    text-align: center;
    font-size: 12px;
}

/* ripped straight from github */
code {
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: 0.2em 0;
}

#arrow {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 2px;
    display: inline-block;
    margin-left: 10px;
}

.rotatable {
    transform: rotate(0deg);
    transition: transform ease-in .2s;
}

.rotatable:hover {
    box-shadow: 0 0 5px;
}

.rotatable:active {
    box-shadow: inset 0 0 5px;
}

.rotated {
    transform: rotate(180deg);
}

.btn-toggle {
    margin:4px;
    background-color: saddlebrown;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    box-shadow: 0 0 10px;
}
/*.btn-toggle {*/
    /*float:left;*/
    /*width:4.0em;*/
/*}*/

.btn-toggle span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

.btn-toggle input {
    position: absolute;
    top:-20px;
}

.btn-toggle input:checked + span {
    box-shadow: inset 0 0 10px;
}

.round {
    border-radius: 50%;
}

.sun {
    background-color: yellow;
}
.moon {
    background-color: lightgray;
}
.fire {
    background-color: orangered;
}
.air {
    background-color: mediumpurple;
}
.water {
    background-color: cornflowerblue;
}
.earth {
    background-color: dimgray;
}
.planet {
    background-color: greenyellow;
}
.animal {
    background-color: red;
}

.middle {
    align-items: center;
}

.clickable {
    cursor: pointer;
}

.filter {
    width: 250px;
}
.flex {
    display: flex;
    justify-content: space-around;
}
.row {
    flex-flow: row;
}
.column {
    flex-flow: column;
}
.wrap {
    flex-flow: wrap;
}
.flex-start {
    justify-content: flex-start;
}
.flex-end {
    justify-content: flex-end;
}
.flex-5 {
    flex-basis: 5%;
}
.flex-10 {
    flex-basis: 10%;
}
.flex-15 {
    flex-basis: 15%;
}
.flex-20 {
    flex-basis: 20%;
}
.flex-40 {
    flex-basis: 40%;
}
.flex-70 {
    flex-basis: 70%;
}
.flex-75 {
    flex-basis: 75%;
}
.flex-80 {
    flex-basis: 80%;
}
.flex-90 {
    flex-basis: 90%;
}
.flex-95 {
    flex-basis: 95%;
}
.flex-100 {
    flex-basis: 100%;
}

.inputspan {
    width: 100%;
}

.result {
    display: flex;
    flex-flow: row wrap;
}

.card {
}
