@media screen and (min-width: 0px) {
    .flex-0 {
        flex-basis: 0%;
    }
    .flex-1 {
        flex-basis: 1%;
    }
    .flex-2 {
        flex-basis: 2%;
    }
    .flex-3 {
        flex-basis: 3%;
    }
    .flex-4 {
        flex-basis: 4%;
    }
    .flex-5 {
        flex-basis: 5%;
    }
    .flex-6 {
        flex-basis: 6%;
    }
    .flex-7 {
        flex-basis: 7%;
    }
    .flex-8 {
        flex-basis: 8%;
    }
    .flex-9 {
        flex-basis: 9%;
    }
    .flex-10 {
        flex-basis: 10%;
    }
    .flex-11 {
        flex-basis: 11%;
    }
    .flex-12 {
        flex-basis: 12%;
    }
    .flex-13 {
        flex-basis: 13%;
    }
    .flex-14 {
        flex-basis: 14%;
    }
    .flex-15 {
        flex-basis: 15%;
    }
    .flex-16 {
        flex-basis: 16%;
    }
    .flex-17 {
        flex-basis: 17%;
    }
    .flex-18 {
        flex-basis: 18%;
    }
    .flex-19 {
        flex-basis: 19%;
    }
    .flex-20 {
        flex-basis: 20%;
    }
    .flex-21 {
        flex-basis: 21%;
    }
    .flex-22 {
        flex-basis: 22%;
    }
    .flex-23 {
        flex-basis: 23%;
    }
    .flex-24 {
        flex-basis: 24%;
    }
    .flex-25 {
        flex-basis: 25%;
    }
    .flex-26 {
        flex-basis: 26%;
    }
    .flex-27 {
        flex-basis: 27%;
    }
    .flex-28 {
        flex-basis: 28%;
    }
    .flex-29 {
        flex-basis: 29%;
    }
    .flex-30 {
        flex-basis: 30%;
    }
    .flex-31 {
        flex-basis: 31%;
    }
    .flex-32 {
        flex-basis: 32%;
    }
    .flex-33 {
        flex-basis: 33%;
    }
    .flex-34 {
        flex-basis: 34%;
    }
    .flex-35 {
        flex-basis: 35%;
    }
    .flex-36 {
        flex-basis: 36%;
    }
    .flex-37 {
        flex-basis: 37%;
    }
    .flex-38 {
        flex-basis: 38%;
    }
    .flex-39 {
        flex-basis: 39%;
    }
    .flex-40 {
        flex-basis: 40%;
    }
    .flex-41 {
        flex-basis: 41%;
    }
    .flex-42 {
        flex-basis: 42%;
    }
    .flex-43 {
        flex-basis: 43%;
    }
    .flex-44 {
        flex-basis: 44%;
    }
    .flex-45 {
        flex-basis: 45%;
    }
    .flex-46 {
        flex-basis: 46%;
    }
    .flex-47 {
        flex-basis: 47%;
    }
    .flex-48 {
        flex-basis: 48%;
    }
    .flex-49 {
        flex-basis: 49%;
    }
    .flex-50 {
        flex-basis: 50%;
    }
    .flex-51 {
        flex-basis: 51%;
    }
    .flex-52 {
        flex-basis: 52%;
    }
    .flex-53 {
        flex-basis: 53%;
    }
    .flex-54 {
        flex-basis: 54%;
    }
    .flex-55 {
        flex-basis: 55%;
    }
    .flex-56 {
        flex-basis: 56%;
    }
    .flex-57 {
        flex-basis: 57%;
    }
    .flex-58 {
        flex-basis: 58%;
    }
    .flex-59 {
        flex-basis: 59%;
    }
    .flex-60 {
        flex-basis: 60%;
    }
    .flex-61 {
        flex-basis: 61%;
    }
    .flex-62 {
        flex-basis: 62%;
    }
    .flex-63 {
        flex-basis: 63%;
    }
    .flex-64 {
        flex-basis: 64%;
    }
    .flex-65 {
        flex-basis: 65%;
    }
    .flex-66 {
        flex-basis: 66%;
    }
    .flex-67 {
        flex-basis: 67%;
    }
    .flex-68 {
        flex-basis: 68%;
    }
    .flex-69 {
        flex-basis: 69%;
    }
    .flex-70 {
        flex-basis: 70%;
    }
    .flex-71 {
        flex-basis: 71%;
    }
    .flex-72 {
        flex-basis: 72%;
    }
    .flex-73 {
        flex-basis: 73%;
    }
    .flex-74 {
        flex-basis: 74%;
    }
    .flex-75 {
        flex-basis: 75%;
    }
    .flex-76 {
        flex-basis: 76%;
    }
    .flex-77 {
        flex-basis: 77%;
    }
    .flex-78 {
        flex-basis: 78%;
    }
    .flex-79 {
        flex-basis: 79%;
    }
    .flex-80 {
        flex-basis: 80%;
    }
    .flex-81 {
        flex-basis: 81%;
    }
    .flex-82 {
        flex-basis: 82%;
    }
    .flex-83 {
        flex-basis: 83%;
    }
    .flex-84 {
        flex-basis: 84%;
    }
    .flex-85 {
        flex-basis: 85%;
    }
    .flex-86 {
        flex-basis: 86%;
    }
    .flex-87 {
        flex-basis: 87%;
    }
    .flex-88 {
        flex-basis: 88%;
    }
    .flex-89 {
        flex-basis: 89%;
    }
    .flex-90 {
        flex-basis: 90%;
    }
    .flex-91 {
        flex-basis: 91%;
    }
    .flex-92 {
        flex-basis: 92%;
    }
    .flex-93 {
        flex-basis: 93%;
    }
    .flex-94 {
        flex-basis: 94%;
    }
    .flex-95 {
        flex-basis: 95%;
    }
    .flex-96 {
        flex-basis: 96%;
    }
    .flex-97 {
        flex-basis: 97%;
    }
    .flex-98 {
        flex-basis: 98%;
    }
    .flex-99 {
        flex-basis: 99%;
    }
    .flex-100 {
        flex-basis: 100%;
    }
}
@media screen and (min-width: 480px) {
    .xs-flex-0 {
        flex-basis: 0%;
    }
    .xs-flex-1 {
        flex-basis: 1%;
    }
    .xs-flex-2 {
        flex-basis: 2%;
    }
    .xs-flex-3 {
        flex-basis: 3%;
    }
    .xs-flex-4 {
        flex-basis: 4%;
    }
    .xs-flex-5 {
        flex-basis: 5%;
    }
    .xs-flex-6 {
        flex-basis: 6%;
    }
    .xs-flex-7 {
        flex-basis: 7%;
    }
    .xs-flex-8 {
        flex-basis: 8%;
    }
    .xs-flex-9 {
        flex-basis: 9%;
    }
    .xs-flex-10 {
        flex-basis: 10%;
    }
    .xs-flex-11 {
        flex-basis: 11%;
    }
    .xs-flex-12 {
        flex-basis: 12%;
    }
    .xs-flex-13 {
        flex-basis: 13%;
    }
    .xs-flex-14 {
        flex-basis: 14%;
    }
    .xs-flex-15 {
        flex-basis: 15%;
    }
    .xs-flex-16 {
        flex-basis: 16%;
    }
    .xs-flex-17 {
        flex-basis: 17%;
    }
    .xs-flex-18 {
        flex-basis: 18%;
    }
    .xs-flex-19 {
        flex-basis: 19%;
    }
    .xs-flex-20 {
        flex-basis: 20%;
    }
    .xs-flex-21 {
        flex-basis: 21%;
    }
    .xs-flex-22 {
        flex-basis: 22%;
    }
    .xs-flex-23 {
        flex-basis: 23%;
    }
    .xs-flex-24 {
        flex-basis: 24%;
    }
    .xs-flex-25 {
        flex-basis: 25%;
    }
    .xs-flex-26 {
        flex-basis: 26%;
    }
    .xs-flex-27 {
        flex-basis: 27%;
    }
    .xs-flex-28 {
        flex-basis: 28%;
    }
    .xs-flex-29 {
        flex-basis: 29%;
    }
    .xs-flex-30 {
        flex-basis: 30%;
    }
    .xs-flex-31 {
        flex-basis: 31%;
    }
    .xs-flex-32 {
        flex-basis: 32%;
    }
    .xs-flex-33 {
        flex-basis: 33%;
    }
    .xs-flex-34 {
        flex-basis: 34%;
    }
    .xs-flex-35 {
        flex-basis: 35%;
    }
    .xs-flex-36 {
        flex-basis: 36%;
    }
    .xs-flex-37 {
        flex-basis: 37%;
    }
    .xs-flex-38 {
        flex-basis: 38%;
    }
    .xs-flex-39 {
        flex-basis: 39%;
    }
    .xs-flex-40 {
        flex-basis: 40%;
    }
    .xs-flex-41 {
        flex-basis: 41%;
    }
    .xs-flex-42 {
        flex-basis: 42%;
    }
    .xs-flex-43 {
        flex-basis: 43%;
    }
    .xs-flex-44 {
        flex-basis: 44%;
    }
    .xs-flex-45 {
        flex-basis: 45%;
    }
    .xs-flex-46 {
        flex-basis: 46%;
    }
    .xs-flex-47 {
        flex-basis: 47%;
    }
    .xs-flex-48 {
        flex-basis: 48%;
    }
    .xs-flex-49 {
        flex-basis: 49%;
    }
    .xs-flex-50 {
        flex-basis: 50%;
    }
    .xs-flex-51 {
        flex-basis: 51%;
    }
    .xs-flex-52 {
        flex-basis: 52%;
    }
    .xs-flex-53 {
        flex-basis: 53%;
    }
    .xs-flex-54 {
        flex-basis: 54%;
    }
    .xs-flex-55 {
        flex-basis: 55%;
    }
    .xs-flex-56 {
        flex-basis: 56%;
    }
    .xs-flex-57 {
        flex-basis: 57%;
    }
    .xs-flex-58 {
        flex-basis: 58%;
    }
    .xs-flex-59 {
        flex-basis: 59%;
    }
    .xs-flex-60 {
        flex-basis: 60%;
    }
    .xs-flex-61 {
        flex-basis: 61%;
    }
    .xs-flex-62 {
        flex-basis: 62%;
    }
    .xs-flex-63 {
        flex-basis: 63%;
    }
    .xs-flex-64 {
        flex-basis: 64%;
    }
    .xs-flex-65 {
        flex-basis: 65%;
    }
    .xs-flex-66 {
        flex-basis: 66%;
    }
    .xs-flex-67 {
        flex-basis: 67%;
    }
    .xs-flex-68 {
        flex-basis: 68%;
    }
    .xs-flex-69 {
        flex-basis: 69%;
    }
    .xs-flex-70 {
        flex-basis: 70%;
    }
    .xs-flex-71 {
        flex-basis: 71%;
    }
    .xs-flex-72 {
        flex-basis: 72%;
    }
    .xs-flex-73 {
        flex-basis: 73%;
    }
    .xs-flex-74 {
        flex-basis: 74%;
    }
    .xs-flex-75 {
        flex-basis: 75%;
    }
    .xs-flex-76 {
        flex-basis: 76%;
    }
    .xs-flex-77 {
        flex-basis: 77%;
    }
    .xs-flex-78 {
        flex-basis: 78%;
    }
    .xs-flex-79 {
        flex-basis: 79%;
    }
    .xs-flex-80 {
        flex-basis: 80%;
    }
    .xs-flex-81 {
        flex-basis: 81%;
    }
    .xs-flex-82 {
        flex-basis: 82%;
    }
    .xs-flex-83 {
        flex-basis: 83%;
    }
    .xs-flex-84 {
        flex-basis: 84%;
    }
    .xs-flex-85 {
        flex-basis: 85%;
    }
    .xs-flex-86 {
        flex-basis: 86%;
    }
    .xs-flex-87 {
        flex-basis: 87%;
    }
    .xs-flex-88 {
        flex-basis: 88%;
    }
    .xs-flex-89 {
        flex-basis: 89%;
    }
    .xs-flex-90 {
        flex-basis: 90%;
    }
    .xs-flex-91 {
        flex-basis: 91%;
    }
    .xs-flex-92 {
        flex-basis: 92%;
    }
    .xs-flex-93 {
        flex-basis: 93%;
    }
    .xs-flex-94 {
        flex-basis: 94%;
    }
    .xs-flex-95 {
        flex-basis: 95%;
    }
    .xs-flex-96 {
        flex-basis: 96%;
    }
    .xs-flex-97 {
        flex-basis: 97%;
    }
    .xs-flex-98 {
        flex-basis: 98%;
    }
    .xs-flex-99 {
        flex-basis: 99%;
    }
    .xs-flex-100 {
        flex-basis: 100%;
    }
}
@media screen and (min-width: 800px) {
    .sm-flex-0 {
        flex-basis: 0%;
    }
    .sm-flex-1 {
        flex-basis: 1%;
    }
    .sm-flex-2 {
        flex-basis: 2%;
    }
    .sm-flex-3 {
        flex-basis: 3%;
    }
    .sm-flex-4 {
        flex-basis: 4%;
    }
    .sm-flex-5 {
        flex-basis: 5%;
    }
    .sm-flex-6 {
        flex-basis: 6%;
    }
    .sm-flex-7 {
        flex-basis: 7%;
    }
    .sm-flex-8 {
        flex-basis: 8%;
    }
    .sm-flex-9 {
        flex-basis: 9%;
    }
    .sm-flex-10 {
        flex-basis: 10%;
    }
    .sm-flex-11 {
        flex-basis: 11%;
    }
    .sm-flex-12 {
        flex-basis: 12%;
    }
    .sm-flex-13 {
        flex-basis: 13%;
    }
    .sm-flex-14 {
        flex-basis: 14%;
    }
    .sm-flex-15 {
        flex-basis: 15%;
    }
    .sm-flex-16 {
        flex-basis: 16%;
    }
    .sm-flex-17 {
        flex-basis: 17%;
    }
    .sm-flex-18 {
        flex-basis: 18%;
    }
    .sm-flex-19 {
        flex-basis: 19%;
    }
    .sm-flex-20 {
        flex-basis: 20%;
    }
    .sm-flex-21 {
        flex-basis: 21%;
    }
    .sm-flex-22 {
        flex-basis: 22%;
    }
    .sm-flex-23 {
        flex-basis: 23%;
    }
    .sm-flex-24 {
        flex-basis: 24%;
    }
    .sm-flex-25 {
        flex-basis: 25%;
    }
    .sm-flex-26 {
        flex-basis: 26%;
    }
    .sm-flex-27 {
        flex-basis: 27%;
    }
    .sm-flex-28 {
        flex-basis: 28%;
    }
    .sm-flex-29 {
        flex-basis: 29%;
    }
    .sm-flex-30 {
        flex-basis: 30%;
    }
    .sm-flex-31 {
        flex-basis: 31%;
    }
    .sm-flex-32 {
        flex-basis: 32%;
    }
    .sm-flex-33 {
        flex-basis: 33%;
    }
    .sm-flex-34 {
        flex-basis: 34%;
    }
    .sm-flex-35 {
        flex-basis: 35%;
    }
    .sm-flex-36 {
        flex-basis: 36%;
    }
    .sm-flex-37 {
        flex-basis: 37%;
    }
    .sm-flex-38 {
        flex-basis: 38%;
    }
    .sm-flex-39 {
        flex-basis: 39%;
    }
    .sm-flex-40 {
        flex-basis: 40%;
    }
    .sm-flex-41 {
        flex-basis: 41%;
    }
    .sm-flex-42 {
        flex-basis: 42%;
    }
    .sm-flex-43 {
        flex-basis: 43%;
    }
    .sm-flex-44 {
        flex-basis: 44%;
    }
    .sm-flex-45 {
        flex-basis: 45%;
    }
    .sm-flex-46 {
        flex-basis: 46%;
    }
    .sm-flex-47 {
        flex-basis: 47%;
    }
    .sm-flex-48 {
        flex-basis: 48%;
    }
    .sm-flex-49 {
        flex-basis: 49%;
    }
    .sm-flex-50 {
        flex-basis: 50%;
    }
    .sm-flex-51 {
        flex-basis: 51%;
    }
    .sm-flex-52 {
        flex-basis: 52%;
    }
    .sm-flex-53 {
        flex-basis: 53%;
    }
    .sm-flex-54 {
        flex-basis: 54%;
    }
    .sm-flex-55 {
        flex-basis: 55%;
    }
    .sm-flex-56 {
        flex-basis: 56%;
    }
    .sm-flex-57 {
        flex-basis: 57%;
    }
    .sm-flex-58 {
        flex-basis: 58%;
    }
    .sm-flex-59 {
        flex-basis: 59%;
    }
    .sm-flex-60 {
        flex-basis: 60%;
    }
    .sm-flex-61 {
        flex-basis: 61%;
    }
    .sm-flex-62 {
        flex-basis: 62%;
    }
    .sm-flex-63 {
        flex-basis: 63%;
    }
    .sm-flex-64 {
        flex-basis: 64%;
    }
    .sm-flex-65 {
        flex-basis: 65%;
    }
    .sm-flex-66 {
        flex-basis: 66%;
    }
    .sm-flex-67 {
        flex-basis: 67%;
    }
    .sm-flex-68 {
        flex-basis: 68%;
    }
    .sm-flex-69 {
        flex-basis: 69%;
    }
    .sm-flex-70 {
        flex-basis: 70%;
    }
    .sm-flex-71 {
        flex-basis: 71%;
    }
    .sm-flex-72 {
        flex-basis: 72%;
    }
    .sm-flex-73 {
        flex-basis: 73%;
    }
    .sm-flex-74 {
        flex-basis: 74%;
    }
    .sm-flex-75 {
        flex-basis: 75%;
    }
    .sm-flex-76 {
        flex-basis: 76%;
    }
    .sm-flex-77 {
        flex-basis: 77%;
    }
    .sm-flex-78 {
        flex-basis: 78%;
    }
    .sm-flex-79 {
        flex-basis: 79%;
    }
    .sm-flex-80 {
        flex-basis: 80%;
    }
    .sm-flex-81 {
        flex-basis: 81%;
    }
    .sm-flex-82 {
        flex-basis: 82%;
    }
    .sm-flex-83 {
        flex-basis: 83%;
    }
    .sm-flex-84 {
        flex-basis: 84%;
    }
    .sm-flex-85 {
        flex-basis: 85%;
    }
    .sm-flex-86 {
        flex-basis: 86%;
    }
    .sm-flex-87 {
        flex-basis: 87%;
    }
    .sm-flex-88 {
        flex-basis: 88%;
    }
    .sm-flex-89 {
        flex-basis: 89%;
    }
    .sm-flex-90 {
        flex-basis: 90%;
    }
    .sm-flex-91 {
        flex-basis: 91%;
    }
    .sm-flex-92 {
        flex-basis: 92%;
    }
    .sm-flex-93 {
        flex-basis: 93%;
    }
    .sm-flex-94 {
        flex-basis: 94%;
    }
    .sm-flex-95 {
        flex-basis: 95%;
    }
    .sm-flex-96 {
        flex-basis: 96%;
    }
    .sm-flex-97 {
        flex-basis: 97%;
    }
    .sm-flex-98 {
        flex-basis: 98%;
    }
    .sm-flex-99 {
        flex-basis: 99%;
    }
    .sm-flex-100 {
        flex-basis: 100%;
    }
}
@media screen and (min-width: 1200px) {
    .md-flex-0 {
        flex-basis: 0%;
    }
    .md-flex-1 {
        flex-basis: 1%;
    }
    .md-flex-2 {
        flex-basis: 2%;
    }
    .md-flex-3 {
        flex-basis: 3%;
    }
    .md-flex-4 {
        flex-basis: 4%;
    }
    .md-flex-5 {
        flex-basis: 5%;
    }
    .md-flex-6 {
        flex-basis: 6%;
    }
    .md-flex-7 {
        flex-basis: 7%;
    }
    .md-flex-8 {
        flex-basis: 8%;
    }
    .md-flex-9 {
        flex-basis: 9%;
    }
    .md-flex-10 {
        flex-basis: 10%;
    }
    .md-flex-11 {
        flex-basis: 11%;
    }
    .md-flex-12 {
        flex-basis: 12%;
    }
    .md-flex-13 {
        flex-basis: 13%;
    }
    .md-flex-14 {
        flex-basis: 14%;
    }
    .md-flex-15 {
        flex-basis: 15%;
    }
    .md-flex-16 {
        flex-basis: 16%;
    }
    .md-flex-17 {
        flex-basis: 17%;
    }
    .md-flex-18 {
        flex-basis: 18%;
    }
    .md-flex-19 {
        flex-basis: 19%;
    }
    .md-flex-20 {
        flex-basis: 20%;
    }
    .md-flex-21 {
        flex-basis: 21%;
    }
    .md-flex-22 {
        flex-basis: 22%;
    }
    .md-flex-23 {
        flex-basis: 23%;
    }
    .md-flex-24 {
        flex-basis: 24%;
    }
    .md-flex-25 {
        flex-basis: 25%;
    }
    .md-flex-26 {
        flex-basis: 26%;
    }
    .md-flex-27 {
        flex-basis: 27%;
    }
    .md-flex-28 {
        flex-basis: 28%;
    }
    .md-flex-29 {
        flex-basis: 29%;
    }
    .md-flex-30 {
        flex-basis: 30%;
    }
    .md-flex-31 {
        flex-basis: 31%;
    }
    .md-flex-32 {
        flex-basis: 32%;
    }
    .md-flex-33 {
        flex-basis: 33%;
    }
    .md-flex-34 {
        flex-basis: 34%;
    }
    .md-flex-35 {
        flex-basis: 35%;
    }
    .md-flex-36 {
        flex-basis: 36%;
    }
    .md-flex-37 {
        flex-basis: 37%;
    }
    .md-flex-38 {
        flex-basis: 38%;
    }
    .md-flex-39 {
        flex-basis: 39%;
    }
    .md-flex-40 {
        flex-basis: 40%;
    }
    .md-flex-41 {
        flex-basis: 41%;
    }
    .md-flex-42 {
        flex-basis: 42%;
    }
    .md-flex-43 {
        flex-basis: 43%;
    }
    .md-flex-44 {
        flex-basis: 44%;
    }
    .md-flex-45 {
        flex-basis: 45%;
    }
    .md-flex-46 {
        flex-basis: 46%;
    }
    .md-flex-47 {
        flex-basis: 47%;
    }
    .md-flex-48 {
        flex-basis: 48%;
    }
    .md-flex-49 {
        flex-basis: 49%;
    }
    .md-flex-50 {
        flex-basis: 50%;
    }
    .md-flex-51 {
        flex-basis: 51%;
    }
    .md-flex-52 {
        flex-basis: 52%;
    }
    .md-flex-53 {
        flex-basis: 53%;
    }
    .md-flex-54 {
        flex-basis: 54%;
    }
    .md-flex-55 {
        flex-basis: 55%;
    }
    .md-flex-56 {
        flex-basis: 56%;
    }
    .md-flex-57 {
        flex-basis: 57%;
    }
    .md-flex-58 {
        flex-basis: 58%;
    }
    .md-flex-59 {
        flex-basis: 59%;
    }
    .md-flex-60 {
        flex-basis: 60%;
    }
    .md-flex-61 {
        flex-basis: 61%;
    }
    .md-flex-62 {
        flex-basis: 62%;
    }
    .md-flex-63 {
        flex-basis: 63%;
    }
    .md-flex-64 {
        flex-basis: 64%;
    }
    .md-flex-65 {
        flex-basis: 65%;
    }
    .md-flex-66 {
        flex-basis: 66%;
    }
    .md-flex-67 {
        flex-basis: 67%;
    }
    .md-flex-68 {
        flex-basis: 68%;
    }
    .md-flex-69 {
        flex-basis: 69%;
    }
    .md-flex-70 {
        flex-basis: 70%;
    }
    .md-flex-71 {
        flex-basis: 71%;
    }
    .md-flex-72 {
        flex-basis: 72%;
    }
    .md-flex-73 {
        flex-basis: 73%;
    }
    .md-flex-74 {
        flex-basis: 74%;
    }
    .md-flex-75 {
        flex-basis: 75%;
    }
    .md-flex-76 {
        flex-basis: 76%;
    }
    .md-flex-77 {
        flex-basis: 77%;
    }
    .md-flex-78 {
        flex-basis: 78%;
    }
    .md-flex-79 {
        flex-basis: 79%;
    }
    .md-flex-80 {
        flex-basis: 80%;
    }
    .md-flex-81 {
        flex-basis: 81%;
    }
    .md-flex-82 {
        flex-basis: 82%;
    }
    .md-flex-83 {
        flex-basis: 83%;
    }
    .md-flex-84 {
        flex-basis: 84%;
    }
    .md-flex-85 {
        flex-basis: 85%;
    }
    .md-flex-86 {
        flex-basis: 86%;
    }
    .md-flex-87 {
        flex-basis: 87%;
    }
    .md-flex-88 {
        flex-basis: 88%;
    }
    .md-flex-89 {
        flex-basis: 89%;
    }
    .md-flex-90 {
        flex-basis: 90%;
    }
    .md-flex-91 {
        flex-basis: 91%;
    }
    .md-flex-92 {
        flex-basis: 92%;
    }
    .md-flex-93 {
        flex-basis: 93%;
    }
    .md-flex-94 {
        flex-basis: 94%;
    }
    .md-flex-95 {
        flex-basis: 95%;
    }
    .md-flex-96 {
        flex-basis: 96%;
    }
    .md-flex-97 {
        flex-basis: 97%;
    }
    .md-flex-98 {
        flex-basis: 98%;
    }
    .md-flex-99 {
        flex-basis: 99%;
    }
    .md-flex-100 {
        flex-basis: 100%;
    }
}
@media screen and (min-width: 1800px) {
    .l-flex-0 {
        flex-basis: 0%;
    }
    .l-flex-1 {
        flex-basis: 1%;
    }
    .l-flex-2 {
        flex-basis: 2%;
    }
    .l-flex-3 {
        flex-basis: 3%;
    }
    .l-flex-4 {
        flex-basis: 4%;
    }
    .l-flex-5 {
        flex-basis: 5%;
    }
    .l-flex-6 {
        flex-basis: 6%;
    }
    .l-flex-7 {
        flex-basis: 7%;
    }
    .l-flex-8 {
        flex-basis: 8%;
    }
    .l-flex-9 {
        flex-basis: 9%;
    }
    .l-flex-10 {
        flex-basis: 10%;
    }
    .l-flex-11 {
        flex-basis: 11%;
    }
    .l-flex-12 {
        flex-basis: 12%;
    }
    .l-flex-13 {
        flex-basis: 13%;
    }
    .l-flex-14 {
        flex-basis: 14%;
    }
    .l-flex-15 {
        flex-basis: 15%;
    }
    .l-flex-16 {
        flex-basis: 16%;
    }
    .l-flex-17 {
        flex-basis: 17%;
    }
    .l-flex-18 {
        flex-basis: 18%;
    }
    .l-flex-19 {
        flex-basis: 19%;
    }
    .l-flex-20 {
        flex-basis: 20%;
    }
    .l-flex-21 {
        flex-basis: 21%;
    }
    .l-flex-22 {
        flex-basis: 22%;
    }
    .l-flex-23 {
        flex-basis: 23%;
    }
    .l-flex-24 {
        flex-basis: 24%;
    }
    .l-flex-25 {
        flex-basis: 25%;
    }
    .l-flex-26 {
        flex-basis: 26%;
    }
    .l-flex-27 {
        flex-basis: 27%;
    }
    .l-flex-28 {
        flex-basis: 28%;
    }
    .l-flex-29 {
        flex-basis: 29%;
    }
    .l-flex-30 {
        flex-basis: 30%;
    }
    .l-flex-31 {
        flex-basis: 31%;
    }
    .l-flex-32 {
        flex-basis: 32%;
    }
    .l-flex-33 {
        flex-basis: 33%;
    }
    .l-flex-34 {
        flex-basis: 34%;
    }
    .l-flex-35 {
        flex-basis: 35%;
    }
    .l-flex-36 {
        flex-basis: 36%;
    }
    .l-flex-37 {
        flex-basis: 37%;
    }
    .l-flex-38 {
        flex-basis: 38%;
    }
    .l-flex-39 {
        flex-basis: 39%;
    }
    .l-flex-40 {
        flex-basis: 40%;
    }
    .l-flex-41 {
        flex-basis: 41%;
    }
    .l-flex-42 {
        flex-basis: 42%;
    }
    .l-flex-43 {
        flex-basis: 43%;
    }
    .l-flex-44 {
        flex-basis: 44%;
    }
    .l-flex-45 {
        flex-basis: 45%;
    }
    .l-flex-46 {
        flex-basis: 46%;
    }
    .l-flex-47 {
        flex-basis: 47%;
    }
    .l-flex-48 {
        flex-basis: 48%;
    }
    .l-flex-49 {
        flex-basis: 49%;
    }
    .l-flex-50 {
        flex-basis: 50%;
    }
    .l-flex-51 {
        flex-basis: 51%;
    }
    .l-flex-52 {
        flex-basis: 52%;
    }
    .l-flex-53 {
        flex-basis: 53%;
    }
    .l-flex-54 {
        flex-basis: 54%;
    }
    .l-flex-55 {
        flex-basis: 55%;
    }
    .l-flex-56 {
        flex-basis: 56%;
    }
    .l-flex-57 {
        flex-basis: 57%;
    }
    .l-flex-58 {
        flex-basis: 58%;
    }
    .l-flex-59 {
        flex-basis: 59%;
    }
    .l-flex-60 {
        flex-basis: 60%;
    }
    .l-flex-61 {
        flex-basis: 61%;
    }
    .l-flex-62 {
        flex-basis: 62%;
    }
    .l-flex-63 {
        flex-basis: 63%;
    }
    .l-flex-64 {
        flex-basis: 64%;
    }
    .l-flex-65 {
        flex-basis: 65%;
    }
    .l-flex-66 {
        flex-basis: 66%;
    }
    .l-flex-67 {
        flex-basis: 67%;
    }
    .l-flex-68 {
        flex-basis: 68%;
    }
    .l-flex-69 {
        flex-basis: 69%;
    }
    .l-flex-70 {
        flex-basis: 70%;
    }
    .l-flex-71 {
        flex-basis: 71%;
    }
    .l-flex-72 {
        flex-basis: 72%;
    }
    .l-flex-73 {
        flex-basis: 73%;
    }
    .l-flex-74 {
        flex-basis: 74%;
    }
    .l-flex-75 {
        flex-basis: 75%;
    }
    .l-flex-76 {
        flex-basis: 76%;
    }
    .l-flex-77 {
        flex-basis: 77%;
    }
    .l-flex-78 {
        flex-basis: 78%;
    }
    .l-flex-79 {
        flex-basis: 79%;
    }
    .l-flex-80 {
        flex-basis: 80%;
    }
    .l-flex-81 {
        flex-basis: 81%;
    }
    .l-flex-82 {
        flex-basis: 82%;
    }
    .l-flex-83 {
        flex-basis: 83%;
    }
    .l-flex-84 {
        flex-basis: 84%;
    }
    .l-flex-85 {
        flex-basis: 85%;
    }
    .l-flex-86 {
        flex-basis: 86%;
    }
    .l-flex-87 {
        flex-basis: 87%;
    }
    .l-flex-88 {
        flex-basis: 88%;
    }
    .l-flex-89 {
        flex-basis: 89%;
    }
    .l-flex-90 {
        flex-basis: 90%;
    }
    .l-flex-91 {
        flex-basis: 91%;
    }
    .l-flex-92 {
        flex-basis: 92%;
    }
    .l-flex-93 {
        flex-basis: 93%;
    }
    .l-flex-94 {
        flex-basis: 94%;
    }
    .l-flex-95 {
        flex-basis: 95%;
    }
    .l-flex-96 {
        flex-basis: 96%;
    }
    .l-flex-97 {
        flex-basis: 97%;
    }
    .l-flex-98 {
        flex-basis: 98%;
    }
    .l-flex-99 {
        flex-basis: 99%;
    }
    .l-flex-100 {
        flex-basis: 100%;
    }
}
@media screen and (min-width: 2000px) {
    .xl-flex-0 {
        flex-basis: 0%;
    }
    .xl-flex-1 {
        flex-basis: 1%;
    }
    .xl-flex-2 {
        flex-basis: 2%;
    }
    .xl-flex-3 {
        flex-basis: 3%;
    }
    .xl-flex-4 {
        flex-basis: 4%;
    }
    .xl-flex-5 {
        flex-basis: 5%;
    }
    .xl-flex-6 {
        flex-basis: 6%;
    }
    .xl-flex-7 {
        flex-basis: 7%;
    }
    .xl-flex-8 {
        flex-basis: 8%;
    }
    .xl-flex-9 {
        flex-basis: 9%;
    }
    .xl-flex-10 {
        flex-basis: 10%;
    }
    .xl-flex-11 {
        flex-basis: 11%;
    }
    .xl-flex-12 {
        flex-basis: 12%;
    }
    .xl-flex-13 {
        flex-basis: 13%;
    }
    .xl-flex-14 {
        flex-basis: 14%;
    }
    .xl-flex-15 {
        flex-basis: 15%;
    }
    .xl-flex-16 {
        flex-basis: 16%;
    }
    .xl-flex-17 {
        flex-basis: 17%;
    }
    .xl-flex-18 {
        flex-basis: 18%;
    }
    .xl-flex-19 {
        flex-basis: 19%;
    }
    .xl-flex-20 {
        flex-basis: 20%;
    }
    .xl-flex-21 {
        flex-basis: 21%;
    }
    .xl-flex-22 {
        flex-basis: 22%;
    }
    .xl-flex-23 {
        flex-basis: 23%;
    }
    .xl-flex-24 {
        flex-basis: 24%;
    }
    .xl-flex-25 {
        flex-basis: 25%;
    }
    .xl-flex-26 {
        flex-basis: 26%;
    }
    .xl-flex-27 {
        flex-basis: 27%;
    }
    .xl-flex-28 {
        flex-basis: 28%;
    }
    .xl-flex-29 {
        flex-basis: 29%;
    }
    .xl-flex-30 {
        flex-basis: 30%;
    }
    .xl-flex-31 {
        flex-basis: 31%;
    }
    .xl-flex-32 {
        flex-basis: 32%;
    }
    .xl-flex-33 {
        flex-basis: 33%;
    }
    .xl-flex-34 {
        flex-basis: 34%;
    }
    .xl-flex-35 {
        flex-basis: 35%;
    }
    .xl-flex-36 {
        flex-basis: 36%;
    }
    .xl-flex-37 {
        flex-basis: 37%;
    }
    .xl-flex-38 {
        flex-basis: 38%;
    }
    .xl-flex-39 {
        flex-basis: 39%;
    }
    .xl-flex-40 {
        flex-basis: 40%;
    }
    .xl-flex-41 {
        flex-basis: 41%;
    }
    .xl-flex-42 {
        flex-basis: 42%;
    }
    .xl-flex-43 {
        flex-basis: 43%;
    }
    .xl-flex-44 {
        flex-basis: 44%;
    }
    .xl-flex-45 {
        flex-basis: 45%;
    }
    .xl-flex-46 {
        flex-basis: 46%;
    }
    .xl-flex-47 {
        flex-basis: 47%;
    }
    .xl-flex-48 {
        flex-basis: 48%;
    }
    .xl-flex-49 {
        flex-basis: 49%;
    }
    .xl-flex-50 {
        flex-basis: 50%;
    }
    .xl-flex-51 {
        flex-basis: 51%;
    }
    .xl-flex-52 {
        flex-basis: 52%;
    }
    .xl-flex-53 {
        flex-basis: 53%;
    }
    .xl-flex-54 {
        flex-basis: 54%;
    }
    .xl-flex-55 {
        flex-basis: 55%;
    }
    .xl-flex-56 {
        flex-basis: 56%;
    }
    .xl-flex-57 {
        flex-basis: 57%;
    }
    .xl-flex-58 {
        flex-basis: 58%;
    }
    .xl-flex-59 {
        flex-basis: 59%;
    }
    .xl-flex-60 {
        flex-basis: 60%;
    }
    .xl-flex-61 {
        flex-basis: 61%;
    }
    .xl-flex-62 {
        flex-basis: 62%;
    }
    .xl-flex-63 {
        flex-basis: 63%;
    }
    .xl-flex-64 {
        flex-basis: 64%;
    }
    .xl-flex-65 {
        flex-basis: 65%;
    }
    .xl-flex-66 {
        flex-basis: 66%;
    }
    .xl-flex-67 {
        flex-basis: 67%;
    }
    .xl-flex-68 {
        flex-basis: 68%;
    }
    .xl-flex-69 {
        flex-basis: 69%;
    }
    .xl-flex-70 {
        flex-basis: 70%;
    }
    .xl-flex-71 {
        flex-basis: 71%;
    }
    .xl-flex-72 {
        flex-basis: 72%;
    }
    .xl-flex-73 {
        flex-basis: 73%;
    }
    .xl-flex-74 {
        flex-basis: 74%;
    }
    .xl-flex-75 {
        flex-basis: 75%;
    }
    .xl-flex-76 {
        flex-basis: 76%;
    }
    .xl-flex-77 {
        flex-basis: 77%;
    }
    .xl-flex-78 {
        flex-basis: 78%;
    }
    .xl-flex-79 {
        flex-basis: 79%;
    }
    .xl-flex-80 {
        flex-basis: 80%;
    }
    .xl-flex-81 {
        flex-basis: 81%;
    }
    .xl-flex-82 {
        flex-basis: 82%;
    }
    .xl-flex-83 {
        flex-basis: 83%;
    }
    .xl-flex-84 {
        flex-basis: 84%;
    }
    .xl-flex-85 {
        flex-basis: 85%;
    }
    .xl-flex-86 {
        flex-basis: 86%;
    }
    .xl-flex-87 {
        flex-basis: 87%;
    }
    .xl-flex-88 {
        flex-basis: 88%;
    }
    .xl-flex-89 {
        flex-basis: 89%;
    }
    .xl-flex-90 {
        flex-basis: 90%;
    }
    .xl-flex-91 {
        flex-basis: 91%;
    }
    .xl-flex-92 {
        flex-basis: 92%;
    }
    .xl-flex-93 {
        flex-basis: 93%;
    }
    .xl-flex-94 {
        flex-basis: 94%;
    }
    .xl-flex-95 {
        flex-basis: 95%;
    }
    .xl-flex-96 {
        flex-basis: 96%;
    }
    .xl-flex-97 {
        flex-basis: 97%;
    }
    .xl-flex-98 {
        flex-basis: 98%;
    }
    .xl-flex-99 {
        flex-basis: 99%;
    }
    .xl-flex-100 {
        flex-basis: 100%;
    }
}
@media screen and (min-width: 2700px) {
    .xxl-flex-0 {
        flex-basis: 0%;
    }
    .xxl-flex-1 {
        flex-basis: 1%;
    }
    .xxl-flex-2 {
        flex-basis: 2%;
    }
    .xxl-flex-3 {
        flex-basis: 3%;
    }
    .xxl-flex-4 {
        flex-basis: 4%;
    }
    .xxl-flex-5 {
        flex-basis: 5%;
    }
    .xxl-flex-6 {
        flex-basis: 6%;
    }
    .xxl-flex-7 {
        flex-basis: 7%;
    }
    .xxl-flex-8 {
        flex-basis: 8%;
    }
    .xxl-flex-9 {
        flex-basis: 9%;
    }
    .xxl-flex-10 {
        flex-basis: 10%;
    }
    .xxl-flex-11 {
        flex-basis: 11%;
    }
    .xxl-flex-12 {
        flex-basis: 12%;
    }
    .xxl-flex-13 {
        flex-basis: 13%;
    }
    .xxl-flex-14 {
        flex-basis: 14%;
    }
    .xxl-flex-15 {
        flex-basis: 15%;
    }
    .xxl-flex-16 {
        flex-basis: 16%;
    }
    .xxl-flex-17 {
        flex-basis: 17%;
    }
    .xxl-flex-18 {
        flex-basis: 18%;
    }
    .xxl-flex-19 {
        flex-basis: 19%;
    }
    .xxl-flex-20 {
        flex-basis: 20%;
    }
    .xxl-flex-21 {
        flex-basis: 21%;
    }
    .xxl-flex-22 {
        flex-basis: 22%;
    }
    .xxl-flex-23 {
        flex-basis: 23%;
    }
    .xxl-flex-24 {
        flex-basis: 24%;
    }
    .xxl-flex-25 {
        flex-basis: 25%;
    }
    .xxl-flex-26 {
        flex-basis: 26%;
    }
    .xxl-flex-27 {
        flex-basis: 27%;
    }
    .xxl-flex-28 {
        flex-basis: 28%;
    }
    .xxl-flex-29 {
        flex-basis: 29%;
    }
    .xxl-flex-30 {
        flex-basis: 30%;
    }
    .xxl-flex-31 {
        flex-basis: 31%;
    }
    .xxl-flex-32 {
        flex-basis: 32%;
    }
    .xxl-flex-33 {
        flex-basis: 33%;
    }
    .xxl-flex-34 {
        flex-basis: 34%;
    }
    .xxl-flex-35 {
        flex-basis: 35%;
    }
    .xxl-flex-36 {
        flex-basis: 36%;
    }
    .xxl-flex-37 {
        flex-basis: 37%;
    }
    .xxl-flex-38 {
        flex-basis: 38%;
    }
    .xxl-flex-39 {
        flex-basis: 39%;
    }
    .xxl-flex-40 {
        flex-basis: 40%;
    }
    .xxl-flex-41 {
        flex-basis: 41%;
    }
    .xxl-flex-42 {
        flex-basis: 42%;
    }
    .xxl-flex-43 {
        flex-basis: 43%;
    }
    .xxl-flex-44 {
        flex-basis: 44%;
    }
    .xxl-flex-45 {
        flex-basis: 45%;
    }
    .xxl-flex-46 {
        flex-basis: 46%;
    }
    .xxl-flex-47 {
        flex-basis: 47%;
    }
    .xxl-flex-48 {
        flex-basis: 48%;
    }
    .xxl-flex-49 {
        flex-basis: 49%;
    }
    .xxl-flex-50 {
        flex-basis: 50%;
    }
    .xxl-flex-51 {
        flex-basis: 51%;
    }
    .xxl-flex-52 {
        flex-basis: 52%;
    }
    .xxl-flex-53 {
        flex-basis: 53%;
    }
    .xxl-flex-54 {
        flex-basis: 54%;
    }
    .xxl-flex-55 {
        flex-basis: 55%;
    }
    .xxl-flex-56 {
        flex-basis: 56%;
    }
    .xxl-flex-57 {
        flex-basis: 57%;
    }
    .xxl-flex-58 {
        flex-basis: 58%;
    }
    .xxl-flex-59 {
        flex-basis: 59%;
    }
    .xxl-flex-60 {
        flex-basis: 60%;
    }
    .xxl-flex-61 {
        flex-basis: 61%;
    }
    .xxl-flex-62 {
        flex-basis: 62%;
    }
    .xxl-flex-63 {
        flex-basis: 63%;
    }
    .xxl-flex-64 {
        flex-basis: 64%;
    }
    .xxl-flex-65 {
        flex-basis: 65%;
    }
    .xxl-flex-66 {
        flex-basis: 66%;
    }
    .xxl-flex-67 {
        flex-basis: 67%;
    }
    .xxl-flex-68 {
        flex-basis: 68%;
    }
    .xxl-flex-69 {
        flex-basis: 69%;
    }
    .xxl-flex-70 {
        flex-basis: 70%;
    }
    .xxl-flex-71 {
        flex-basis: 71%;
    }
    .xxl-flex-72 {
        flex-basis: 72%;
    }
    .xxl-flex-73 {
        flex-basis: 73%;
    }
    .xxl-flex-74 {
        flex-basis: 74%;
    }
    .xxl-flex-75 {
        flex-basis: 75%;
    }
    .xxl-flex-76 {
        flex-basis: 76%;
    }
    .xxl-flex-77 {
        flex-basis: 77%;
    }
    .xxl-flex-78 {
        flex-basis: 78%;
    }
    .xxl-flex-79 {
        flex-basis: 79%;
    }
    .xxl-flex-80 {
        flex-basis: 80%;
    }
    .xxl-flex-81 {
        flex-basis: 81%;
    }
    .xxl-flex-82 {
        flex-basis: 82%;
    }
    .xxl-flex-83 {
        flex-basis: 83%;
    }
    .xxl-flex-84 {
        flex-basis: 84%;
    }
    .xxl-flex-85 {
        flex-basis: 85%;
    }
    .xxl-flex-86 {
        flex-basis: 86%;
    }
    .xxl-flex-87 {
        flex-basis: 87%;
    }
    .xxl-flex-88 {
        flex-basis: 88%;
    }
    .xxl-flex-89 {
        flex-basis: 89%;
    }
    .xxl-flex-90 {
        flex-basis: 90%;
    }
    .xxl-flex-91 {
        flex-basis: 91%;
    }
    .xxl-flex-92 {
        flex-basis: 92%;
    }
    .xxl-flex-93 {
        flex-basis: 93%;
    }
    .xxl-flex-94 {
        flex-basis: 94%;
    }
    .xxl-flex-95 {
        flex-basis: 95%;
    }
    .xxl-flex-96 {
        flex-basis: 96%;
    }
    .xxl-flex-97 {
        flex-basis: 97%;
    }
    .xxl-flex-98 {
        flex-basis: 98%;
    }
    .xxl-flex-99 {
        flex-basis: 99%;
    }
    .xxl-flex-100 {
        flex-basis: 100%;
    }
}
